* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: #08080b;
}

#workspaces button,
#window,
#mpris,
#memory,
#cpu,
#wireplumber,
#language,
#clock,
#tray {
    margin: 3px 2px 2px 2px;
    padding: 2px 8px;
}

#clock {
    color: #98c379;
    padding: 3px;
}

#memory {
    color: #f7768e;
    padding: 3px;
}

#language {
    color: #7dcfff;
}

#cpu {
    color: #bb9af7;
}

#wireplumber {
    color: #e0af68;
}

#workspaces button.active {
    background: #f7768e;
}

#workspaces button {
    color: #c0caf5;
}
